{{ partial "header.html" . }}
	<main>
		<article class="post-wrapper">
			<time>{{ .Date.Format "January 2, 2006 15:04" }}</time>
			<h1>{{ .Title }}</h1>
			<span class="description">{{ .Description }}</span>
			<div class="divider"></div>
			<div class="content-wrapper">
				{{ .Content }}
			</div>
			<div class="divider"></div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
	<!--{{ partial "sidebar.html" . }}-->
	{{ partial "footer.html" . }}
